  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
  @font-face {font-family: 'neon'; src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);}
*,::before,::after{margin: 0; padding: 0;box-sizing: border-box;}
*{user-select: none;}
body{width: 100%; height: 100vh; overflow: hidden;cursor: none;}
/********************* code ext pour zoomer du ZOOM***************** */
.zoom-transition{transition: -moz-transform ease 200ms;transition: -ms-transform ease 200ms;transition: -o-transform ease 200ms;transition: -webkit-transform ease 200ms;transition: transform ease 200ms;}
/**************************** Cursor******************* */
.cursor {width: 60px;height: 60px;border: 1px dashed  rgba(229,17,116, 0.92);border-radius: 50%;position: absolute;animation: Anim1 1s infinite alternate; pointer-events: none;z-index: 2222222222222222;}
.cursor::before {content: '';position: absolute; top: 50%;left: 50%;transform: translate(-50%,-50%);width: 5px; height: 5px;background: white;border-radius: 50%;}
.expand {animation: Anim2 .5s; background:  rgba(229,17,116, 0.92); border: 2px solid  rgba(229,17,116, 0.92);}
    @keyframes Anim1 {from {transform: scale(1) rotate(0deg);}to {transform: scale(0.7) rotate(190deg);}}
    @keyframes Anim2 {0%{transform: scale(1);}50%{transform: scale(2);}100%{transform: scale(1);opacity:0;}} 
  /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/***********************************************************section Loader  id=loader***************************************************************************/
#loader{ width: 100%; height: 100vh;display: flex; flex-direction: column;background: url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg) center center/ cover;}
.logo-code{ width: 100%;}
.logo-code>img{ width: 16%;margin: 50px 50px;}
/* ***********PARTIE lOADER************ */
#title {width: 100%; display: flex; justify-content: center; align-content: center; font-size: 125px; user-select: none; animation : apparition 2s;}
  @keyframes apparition {0% {transform: scale(0);}100% {transform: scale(1);}} 
#title > .letter {font-family:'neon';font-weight: 400;color: #fee; animation: effetNeon 2s infinite;}
  @keyframes effetNeon {
    from {text-shadow:0 0 6px rgba(9,132,248,0.92),0 0 30px rgba(18,222,239,0.34), 0 0 12px rgba(3,158,252,0.52),0 0 21px rgba(9,238,246,0.92), 0 0 34px rgba(13,225,240,0.78),0 0 54px rgba(18,126,183,0.92);}
    to {text-shadow:0 0 10px rgba(229,17,116, 0.92),0 0 30px rgba(247,167,252,0.42),0 0 12px rgba(255,35,223,0.58),0 0 22px rgba(254,120,243,0.84),0 0 38px rgba(255,170,255,0.88), 0 0 60px rgba(251,69,229,1);}}
#title > .letter > .c1{text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000; animation :blink 5s alternate;} 
  @keyframes blink {
      78% {color: inherit;text-shadow: inherit;}79%{color: #333;}
      80% { text-shadow: none;} 81% {color: inherit;text-shadow: inherit;}82% {color: #333; text-shadow: none;}83% {color: inherit; text-shadow: inherit;}
      92% {color: #333; text-shadow: none;}92.5% {color: inherit; text-shadow: inherit;}} 
#title >.letter:nth-of-type(4){animation: blink 5s linear alternate, effetNeon 5s , break 4s 2s both;}
  @keyframes break { 
    0%{transform : rotate(0deg); margin-top: 0px; margin-left: 0px; animation: effetNeon 5s alternate, blink 2s linear alternate;}
    50%{transform : rotate(28deg);margin-top: 82px;margin-left: -4px;animation: blink 2s linear alternate;
      text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000; }
    80%{transform : rotate(45deg);margin-top: 140px;margin-left: 0px;animation :blink 2s alternate ;}
    100%{ transform : rotate(75deg); margin-top: 1200px;display: none;}}   
.wrapper{ width: 100%; display: flex; justify-content: center; position: absolute; z-index: 1; top:95%; left:50%;  transform:translate(-50%, -50%);}
.wrapper > h3{  color: rgb(255, 255, 255);font-family: 'Poppins', sans-serif; font-size: 30px; font-weight: 400;margin-bottom: 100px; animation:blur-text 3s 1s infinite;} 
  @keyframes blur-text { 0% {filter: blur(0px);}100% {filter: blur(4px);}} 
  /* Partie animation chargement en cours */
.dot {width: 15px; height: 15px; border-radius: 50%; background-color: #fff;transform-origin: 50%; margin: 0 10px; margin-top: 30px;}
  @keyframes jump {100%{transform:translateY(-20px);}}
.dot1{animation: jump infinite .30s alternate ease-in-out,blur-text 3s 1s infinite;}
.dot2{animation: jump infinite .30s 0.05s alternate ease-in-out,blur-text 3s 1s infinite;}
.dot3{animation: jump infinite .30s 0.1s alternate ease-in-out,blur-text 3s 1s infinite;}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/********************************************************** section partie chargement id=boxChargement*************************************************************** */
#boxChargement{background: url(../img/Chargement.jpg) center center / cover; width: 100%; height: 100%; animation: appartion 2s 3s;display: flex;
justify-content: center;align-items: center;}
.chargement{ font-family: 'Poppins';font-weight:500;text-align:center;  width: 100%; min-height: 100vh;display: flex; justify-content:flex-end; align-items: center;flex-direction: column;}
.chargement >.number{  width: 100%; height: 30vh; font-size: 150px; color: #0AEFF7;  transform: translateY(-0px);}
.chargement >.reference{ width: 100%;font-size: 15px;color: #fff;line-height: 30px;letter-spacing: 5px; transform: translateY(-38px);}
.chargement >.commencer{width: 40%;color: #FFAAFF;font-size: 13px; padding-top: 50px;letter-spacing: 5px; transform: translatey(-40px);text-decoration: none; animation: clignotte 3s infinite}
  @keyframes clignotte {0%,	50%,100% {opacity: 1;}25%,75% {opacity: 0;}}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*********************************************************** Section Jeu  id = jeuPopCode******************************************************************************/
#boxJeu{ width: 100%; min-height: 100vh; opacity: 1; position: relative;display: flex; justify-content: center; align-items: center; flex-direction: column;}
.zoom1{ width: 100%;height:100vh;display: flex;justify-content: center;align-items: center;}
.zoom{  width: 100%;height: 100%;object-fit: cover;}
/**************** Partie Jeu :score class = resultat***************/
#resultat{width: 10%;position: fixed; top: 20px; left: 20px;}
#resultat::before{ position: absolute;content: 'SCORE';font-family: 'Poppins';font-weight:500;font-size: 12px;letter-spacing: 2px;color: #0AEFF7;transform: rotate(-90deg);border-bottom: 1px solid #D9D9D9;top: 15px;left: 1px; }
/* Box Score class= erreur*/
.score{width: 10%;display: flex;margin-left: 45px;}
.score>p{font-family: 'Poppins';font-weight:500;padding-left: 5px;color:#fff;font-size: 18px;}
/* Box ERREUR XXX */
.erreur{width:10%;display: flex; justify-content: flex-start;margin: 0 0 0 42px;font-family: 'Poppins';font-weight:500;font-size: 18px;}
.erreur>span{ color: rgba(255, 255, 255, 0.3);padding-left: 10px;}
.erreur>.Xone{color:rgba(255, 255, 255, 0.3);}  
.erreur>.Xtwo{color:rgba(255, 255, 255, 0.3);} 
.erreur>.Xtree{color:rgba(255, 255, 255, 0.3);} 
#popup1{position: fixed;top: 50%;left: 20%;font-size: 3rem;color: white;font-family: 'Poppins';font-weight:700;text-align: center;padding-top: 20px;margin-top: -80px;}
#popup2{position: fixed;top: 50%;left: 25%;font-size: 3rem;color: white;font-family: 'Poppins';font-weight:700;text-align: center;padding-top: 20px;margin-top: -50px;}  
/*PARTIE JEU barre de ZOOM id = zoom*/
/* partie BOX ZOOM */
#zoom{ width: 50%;position: absolute; bottom: 20px;left: 0;}
#boxZoom{height: 20vh; position: fixed;bottom: 0; left: 0; z-index: 6666666666666;}
/* .boxZoomer{width: 5%; display:flex; justify-content: space-between;align-items:center;margin: 0px 0px 70px 15px;flex-direction: row-reverse; font-family: 'Poppins';font-weight:500;font-size: 14px;color:#fff;} */
.zoomer{font-size: 10px; color: #0AEFF7;margin-bottom: 20px; transform: rotateX(270deg);}
.more-less{height:25vh;position: fixed;bottom: 20px;left: 20px;}
.more{color:white;position: fixed;bottom: 224px;left: 30px;}
.less{color:white;position: fixed;bottom: 35px;left: 30px;}
.progres{border: 1px solid #D9D9D9;}
/* partie LANGAGES id = searchLagages*/
#searchLangages{ width: 100%;position: fixed;}
.boxLangages{width:10%; height: 28px; border: 1px solid #fff;position: fixed;bottom: 37px;left: 75px;text-align: center;display:flex;}
.boxLangages> p>.langages{display: flex; height: 10vh; margin-top :20px ;}
.langages{padding-left: 10px; font-family: 'Poppins';font-weight:300;font-size: 8px; color: #fff; letter-spacing: 2px; text-decoration: none;}
/* tapeClavier pour apparaitre en JS id =boxTape*/
#boxTape{background: rgba(0, 0, 0, 0.6); position:fixed;width:100vw;top: 0;left: 0;height:100vh;display: flex; justify-content: center;align-items: center;flex-direction:column;}
#boxTape>#nomLangage{width:28vw;height:13vh;font-size:63px;display: flex;justify-content: center;border: none; outline: none;color:white;padding:10px;background:transparent;text-align: center;}
.opacite{ opacity: 0; z-index: -1;}
/* VOIR SON UTILITE OU DEPLACER */
#boxTape>.tapeName {height:0vh;font-size:15px;color: white;font-family: 'Poppins';font-weight:500;letter-spacing: 5px;padding-top:20px;opacity:0.5;}
/* Partie Gauche Logo */
/* MODIFIER LE CSS POUR LE METTRE BIEN EN PLACE */
.boxImg{width: 160px;} 
.boxImg> img{position: fixed;top: 10px;right: 10px;} 
/*MODALE POUR LES LANGAGES TROUVES id = modal*/
.modal-btn{ padding: 10px 14px;font-size: 18px; margin: 100px auto;display:block;min-width: 150px; cursor: pointer; box-sizing: border-box;}
.modal{ width: 100%; max-width: 800px; min-height: 400px;background:rgba(0,0,0,0.4);color:white;border-radius: 5px;position: fixed;left: 48%;bottom: -30%;transform: translate(-50%, calc(-50% - 50%)); transition: opacity 0.4s ease-out; transform: 0.4s ease-out;} 
.close-modal{padding: 8px 12px; border: none; border-radius: 5px; font-size: 18px;position: absolute;top:4px;right: 10px; cursor: pointer; background:#0AEFF7;;color:#fff;transition: opacity 0.4s 0.2s ease-out }
#modalTitle{font-size:30px;margin-bottom: 10px;font-family: 'Poppins';font-weight: 900;letter-spacing: 5px;}
#dialogDesc{width: 100%;height: 40vh;display: flex;flex-direction: column; font-size:28px;line-height: 1.4;margin-top: 20px;color:white;margin-left: 10px;font-family: 'Poppins';font-weight: 500;}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/********************************************Section partie perdant id = boxLost*********************************************************************/
#boxLost{width: 100%;height: 100vh;position: fixed;top: 0;left: 0;background: url('../img/preChargement.jpg') center center / cover; display: flex;}
#popupEnd{width:100%; height: 100vh; position: fixed;font-size: 10rem;color: white;font-family:'neon';font-weight: 400;display: flex;justify-content: center;animation: effetNeon 2s infinite;
display: flex;justify-content:center;align-items: center;}
#recommencerLost{width:100%;height:100vh;display: flex;justify-content: center; left:-30px;position: fixed;top: 80%;font-size: 1.5rem;color:white;font-family: 'Poppins';font-weight:700;letter-spacing: 5px; text-decoration: none; animation: clignotte 4s infinite;}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/********************************************Section partie Gagnante id = boxWin***********************************************************************/
#boxWin{width: 100%;height: 100vh;position: fixed;top: 0;left: 0;background: url('../img/preChargement.jpg') center center / cover; display: flex;}
#gagne{width: 100%;position: fixed;top: 50%;left: 35%;font-size: 7rem;color:white;font-family: 'Poppins';font-weight:700;margin-top: -50px;text-align: center;}
#deja{width: 100%;position: fixed;top: 50%;left: 38%;font-size: 3rem;color: white;font-family: 'Poppins';font-weight:700;}
#victoire{width: 100%;position: fixed;top: 35%;left: 25%;font-size: 7rem;color: white;font-family:'neon';font-weight: 400; margin-top: -30px;animation: effetNeon 2s infinite;text-align: center;}
#recommencerWin{width:100%;height:100vh;display: flex;justify-content: center; left:-30px;position: fixed;top: 80%;font-size: 1.5rem;color:white;font-family: 'Poppins';font-weight:700;letter-spacing: 5px; text-decoration: none; animation: clignotte 4s infinite;}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/********************************** Section partie modal pour description des languages trouvés id = boxModalDesc****************************************/
#boxModalDesc{width: 100%;height: 100vh; position: fixed; top: 0;left: 0; background-color: rgba(0, 0, 0, 0.75); z-index: 5555555; display: flex;justify-content: center;align-items: center; color: white;}
.modalDesc{width: 60vw;height: 60vh; display: flex;flex-direction: column;justify-content: space-between;}
.firstLine{width: 100%;display: flex;justify-content: space-between;align-items: center;}
.fa-xmark{z-index: 10000000000000000000000;}
.secondLine{width:100%;display: flex;align-items: center;justify-content: space-between;gap: 10px;}
.secondLine > p {padding:10px;}
.secondLine > img { max-width: 300px;max-height: 300px;object-fit: cover;}
.thirdLine{width: 100%;display: flex;justify-content: flex-end;align-items: center;}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/********************************************* Section Mentions légales id = boxControl*************************************/
#boxMentions{position: absolute;right: 0; bottom: 20px;z-index: 1111111111;}
#boxMentions > .legales{ font-family: 'Poppins';font-weight:300; color: white;text-decoration-line: none;border-bottom: 1px solid white;} 
/* Modul Mention */
#boxModalMention{width: 100%;height: 100vh; position: fixed; top: 0;left: 0; background-color: rgba(0, 0, 0, 0.75); z-index: 5555555; display: flex;justify-content: center;align-items: center; color: white;}
.modalMention{width: 60vw;height: 60vh; display: flex;flex-direction: column;justify-content: space-between;}
.modalLine1{width: 100%;display: flex;justify-content: space-between;align-items: center;}
.modalLine2{width: 100%;height: 40vh;overflow-y: auto;}
.titleModalMention{font-size: 2rem;font-family: 'Poppins';font-weight: 500;}
.cross1{z-index: 2222222222222222222222;}
/***************************************************************************************************************************/
/* Global- Générale */
.noOpacity{opacity: 0;}
/* ^ à renommer en noOpacity  au lieu de none*/
.none{display: none !important;}
/* ^ à renommer en none au lien de none2*/
.lightblue{color: #0AEFF7 !important;}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/***********************************************Section média query tablette id = boxMedia*******************************************************************/
/* max-width: 1024px *//* and (hover:none) */
@media screen  and (max-width: 1024px) {
#boxJeu{background:url(../img/jeu2.jpg)center center / cover no-repeat;width:100%; height: 100vh;display: flex;flex-direction: column;opacity: 0.25;}

.zoom{display:none;}  
#boxTape{display: none;} 

.boxMedia{width:100%; height:100vh;display:flex;justify-content: center;align-items: center;flex-direction: column;}
#titlePopCode{width: 100%;font-size: 5rem;font-family: 'neon'; 
  margin-top: 200px;color: rgba(229,17,116, 1);animation: effetNeon 2s infinite;}
.boxDeskTop{display: none;}
.boxTab{display: block;}
.boxMobile{display: none;}
#resultat{display: none;}
}





